.bgvideo {
    width: 100%;
    height: 70vh;/* ед измерения для высоты окна просмотра */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgvideo video {
    width: 100%;
    height: 60vh;/* ед измерения для высоты окна просмотра */
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;/* чтобы не оставались отступы по краям */
    z-index: 1;/* слои работают когда есть display: flex; */
}


.effect {
    width: 100%;
    height: 60vh;/* ед измерения для высоты окна просмотра */
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;/* чтобы не оставались отступы по краям */
    z-index: 2;/* слои работают когда есть display: flex; */
    background-color: rgba(0, 0, 0, 0.452);
}

.textvideo{
    font-weight: bold;
    color: white;
    z-index: 2;
}